<%= render partial: 'shared/header' %>
<%= render partial: 'user', locals: {user: @user} %>
<div class="border border-dark">
<h2 class="fs-4">Bio</h2>
<p>
  <%= @user.bio %>
</p>
</div>


<div>
  <% @user_posts.each do |post| %>
    <%= render partial:'posts/post', locals:{post: post, users: @users, comments: @comments}%>
  <% end %>
</div>

<%= link_to "See all post", user_posts_path(@user.id) %>
