<div class="border border-dark my-2">
  <%= link_to user_post_path(post.author.id, post.id) do %>
      <h3><%= post.title %></h3>
        <% end %>
      <p><%= post.text %></p>

      <div>
        <div>Comments: <%= post.comments_counter ? post.comments_counter : 0 %></div>
        <div>Likes: <%= post.likes_counter ? post.likes_counter : 0 %></div>
      </div>

      <ul>  
        <% comments.each do |comment| %>
          <li>
            <%= comment.author.name %>
            <%= comment.text %>
          </li>            
        <% end %>
      </ul>
  </div>