<div class="border border-dark">
  <div class="d-flex justify-content-between">
    <h2><%= @post.title %> by <span><%= @user.name %> </span></h2>
    <div>
      Comments: <%= @comments.count %>
      Likes: <%= @likes.count %>
    </div>
  </div>
  <p>
    <%= @post.text %>
  </p>
</div>
<div class="d-flex align-items-center">
<%= link_to 'Add comment', user_post_path(params[:user_id], params[:id])+'/comments/new' %>
<%= button_to 'Like', likes_path, params:{like:{post_id:@post.id}}, method: :post, class:'mx-2' %>
<% if can? :destroy, @post %>
    <%= button_to 'Delete', { :controller=>:posts,:action=>:destroy, :id=>params[:id] }, :method=>:delete, data: { confirm: 'Are you sure?' }, class:'btn-danger my-2' %>
  <% end %>
</div>
<ul class="border border-dark my-2">
  <% @comments.each do |comment| %>
    <li>
      <%= comment.author.name %>:
      <%= comment.text %>
      <% if can? :destroy, comment %>
       <%= button_to 'Delete',  user_post_comment_path(params[:user_id], @post, comment),   method: :delete, data: { confirm: 'Are you sure?' }, class:'btn-danger my-2' %>
      <% end %>
    </li>

  <% end %>
</ul>
